.delay0_5s {
    animation-delay: 0.5s;
}
.delay1s {
    animation-delay: 1s;
}
.delay1_5s {
    animation-delay: 1.5s;
}
.delay2s {
    animation-delay: 2s;
}
.delay2_5s {
    animation-delay: 2.5s;
}

.delay3s {
    animation-delay: 3s;
}

.delay3_5s {
    animation-delay: 3.5s;
}

.delay4s {
    animation-delay: 4s;
}

.delay4_5s {
    animation-delay: 4.5s;
}

.delay5s {
    animation-delay: 5s;
}

.delay5_5s {
    animation-delay: 5.5s;
}

.delay6s {
    animation-delay: 6s;
}